<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="image" property="og:image" content="http://www.jaireensingh.com/photos/websiteSnapshot.png">
    <script src="https://kit.fontawesome.com/d995f62819.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
   
    <link href="/stylesheets/home2.css" rel="stylesheet">
    
    <title>Jaireen Singh</title>
</head>
<body>
    

<nav class="fixed-top w-100">
  <div class="d-flex justify-content-center align-items-center flex-wrap">
    <a class="navLink" href="/">HOME</a>
    <a class="navLink" href="#projectSection">PROJECTS</a>
    <a class="navLink" href="#aboutSection">ABOUT</a>
    <a class="navLink" href="#contactSection">CONTACT</a>
 </div>
   
</nav>



<%if (showAlert){%>
  <div id="myAlert" style=<%=success?"background-color:#E0F6E3":"background-color:#F4D0D5"%>>
    <% if(success) {%> 
      <h1>Message sent!</h1>
      <p>Thank you for reaching out! I will get in touch with you shortly.</p>
    <% }else{ %> 
      <h1>Uh oh!</h1>
      <p>Your message could not be sent. Please try again later or email me: jaireen.s21@gmail.com</p>
    <% } %> 
    <button type="button" id="myAlertBtn" aria-label="Close">X</button>
  </div>
<%}%>

<!-- <a id="backtotop" href="#">^</a> -->

<main>
  
  <section id="welcomeSection" class="mx-auto">
    <div id="welcomeDiv" class="d-flex mx-auto">
      
      <img id="welcomePhoto" src="./photos/myPhoto2_small.jpg">
      
  
      <div id="welcomeDetails" class="text-start" >
        <p style="font-size:1rem"><i class="fa-solid fa-location-dot"></i>&nbsp Toronto, Canada</p>
        <p style="font-size:2rem" class="fw-bold mb-0 pb-0">Jaireen Singh,</p>
        <p style="font-size:2.2rem" class="fw-bold mt-0 lh-sm stretchText">Web <br/> Developer</p>
        <p class="mb-3">A full stack web developer based in Toronto, Canada. I love problem-solving, learning new technologies, spending time in nature, and singing. </p>
        <div >
          <a class="profilebutton" href="https://www.linkedin.com/in/jaireen-singh-02646b171/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="profilebutton" href="https://github.com/jaireens21" target="_blank">
            <i class="fab fa-github"></i> 
          </a>
          <a class="profilebutton" href="https://www.freecodecamp.org/fcc1c7f670a-2c24-4d27-8fce-b6a6c9b9277a" target="_blank">
            <i class="fab fa-free-code-camp"></i> 
          </a>
          <a class="profilebutton"  href="https://codepen.io/jerrys21" target="_blank">
            <i class="fab fa-codepen"></i> 
          </a>
        </div>
      </div>
    </div>
    
    
  </section>
  
  

  <section id="projectSection">
    
    <h2 class="text-center">PROJECTS</h2>
    <div id="projectsDiv" class="d-flex flex-column mx-auto">
         
      <!-- PROJECT 1 -->
      <div class="project d-flex flex-column mb-5 justify-content-between w-100 mx-auto my-5 py-5 px-2">
        <!-- <img class="project-image mx-auto" src="../photos/bms1.jpeg" alt="screenshot of book-my-sport website"> -->
        <!-- carousel -->
        <div id="carousel1Controls" class="carousel slide carousel-dark mb-5 w-100 px-2" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../photos/bms0_small.png" class="d-block mx-auto project-image" alt="home page of book-my-sport site">
            </div>
            <div class="carousel-item " data-bs-interval="2000">
              <img src="../photos/bms1_small.jpg" class="d-block mx-auto project-image" alt="all arena page of book-my-sport site">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/bms2_small.png" class="d-block mx-auto project-image" alt="view details of a sports venue page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/bms3_small.png" class="d-block mx-auto project-image" alt="user bookings page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/bms4_small.png" class="d-block mx-auto project-image" alt="edit a venue page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/bms5_small.png" class="d-block mx-auto project-image" alt="view bookings for an arena page">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel1Controls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel1Controls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <div class="projectDetails d-flex flex-column justify-content-center text-center mx-auto px-0">
          <h3 class="fw-bold" style="font-size:1.5rem">Book My Sport</h3>
          <p>A one-stop website for booking different sporting venues across Ontario.</p>
          <div class="text-center mt-3">
            <p class="fw-bold" style="font-size:1.3rem">Tech stack used:</p>
            <p> EJS | Node JS | Express| Passport | Nodemailer | Mongo DB Atlas | Mongoose </p>
          </div>
          <p class="text-start fw-bold mt-3" style="font-size:1.3rem">The idea:</p>
          <p class="text-start"> Every sport venue, for eg: a venue for baseball/ ice hockey/ football, has its own website for booking. BookMySport can be a one-stop-shop where different kinds of sport venues can register themselves. A user (player) can browse through different venues and book one for a date and time of their choosing.</p>
          
          <p class="text-start fw-bold" style="font-size:1.3rem">Key Features:</p>
          <ul class="text-start">
            <li>Ability to search a venue by name/location/sport</li>
            <li>RBAC for venue owners & players</li>
            <li>Owner: Ability to add, edit, delete sport venue</li>
            <li>Owner: Ability to edit venue availablity (date and time)</li>
            <li>Owner: Will be shown 'Conflicting Bookings' if change in date/time/sport availablity affects any existing bookings</li>
            <li>Owner: Can see all bookings (upcoming & past bookings)</li>
            <li>Owner: Can make a booking on behalf of a walk-in player</li>
            <li>Player: Ability to book venues, see all bookings (upcoming & past bookings)</li>
            <li>Reset password, Forgot password options implemented</li>
          </ul>
          <div class="mx-auto mt-3">
            <button class="btn btn-dark me-3 mb-3"><a href="https://aqueous-garden-43980.herokuapp.com/" target="_blank">Live Demo</a></button>
            <button class="btn btn-dark mb-3"><a href="https://github.com/jaireens21/playo" target="_blank">Github Repo</a></button>
          </div>
          
        </div>
      </div>


      <!-- PROJECT 2 -->
      <div class="project d-flex flex-column mb-5 justify-content-between w-100 mx-auto my-5 py-5 px-2">
        <!-- <img class="project-image mx-auto" src="../photos/order1_small.png" alt="screenshot of order-in website"> -->

        <!-- carousel -->
        <div id="carousel2Controls" class="carousel slide carousel-dark mb-5 w-100 px-2" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="2000">
              <img src="../photos/order1_small.png" class="d-block mx-auto project-image" alt="home page of order-in website">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/order2_small.png" class="d-block mx-auto  project-image" alt="menu page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/order3_small.png" class="d-block mx-auto project-image" alt="order online page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/order5_small.png" class="d-block mx-auto project-image" alt="view orders page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/order7_small.png" class="d-block mx-auto project-image" alt="add a new dish page">
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <img src="../photos/order6_small.png" class="d-block mx-auto project-image" alt="edit a dish page">
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carousel2Controls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carousel2Controls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>

        <div class="projectDetails d-flex flex-column justify-content-center text-center mx-auto px-0">
          <h3 class="fw-bold" style="font-size:1.5rem">Order - In</h3>
          <p>A website for a restaurant to manage their menu and orders, and where customers can order food online.</p>
          <div class="text-center mt-3">
            <p class="fw-bold" style="font-size:1.3rem">Tech stack used:</p>
            <p> React JS with Hooks | Axios | Node JS | Express | Mongo DB Atlas | Mongoose</p>
          </div>
          <p class="text-start fw-bold mt-3" style="font-size:1.3rem">The idea:</p>
          <p class="text-start"> A simple yet inviting website for a restaurant called "Order-In". The owner can manage the orders and even change dishes on the menu (This may be needed due to seasonal availablity of ingredients or if they are sold out of a particular dish for the day, etc.) These menu changes will reflect on the site immediately. Customers can view the menu as well as order food online, for either pick-up or dine-in, on a date and time of their choosing.</p>
          <p class="text-start fw-bold" style="font-size:1.3rem">Key Features:</p>
          <ul class="text-start">
            <li>Login-protected Owner Routes</li>
            <li>Owner: Ability to add, edit, delete dishes on the menu</li>
            <li>Owner: Can see all orders (today's, upcoming & past orders)</li>
            <li>Owner: Can mark a order as completed</li>
            <li>Customer: Ability to view menu, place order ahead of time</li>
            <li>Customer receives an email confirming their order details</li>
          </ul>
          <div class="mx-auto mt-3">
            <button class="btn btn-dark me-3 mb-3" ><a href="https://intense-cliffs-60179.herokuapp.com/" target="_blank">Live Demo</a></button>
            <button class="btn btn-dark mb-3"><a href="https://github.com/jaireens21/order-in" target="_blank">Github Repo</a></button>
          </div>
          
        </div>
      </div>

      

      <div class="project d-flex flex-column flex-xl-row mb-5 justify-content-between w-100 mx-auto my-5 py-5 px-2">
        <div class="d-flex flex-column my-4 px-0">
          <img class="tiny-project-image mx-auto my-2 w-75 " src="../photos/dadjoke.png" alt="random dad joke generator">
          <div class="d-flex flex-column justify-content-center text-center mx-auto w-100 px-0">
            <h3 class="fw-bold">Random Dad Jokes</h3>
            <p>A React-based app that <br/> displays a random dad joke.<br/> Uses Axios to make API calls to icanhazdadjoke.com  </p>
            <div class="mx-auto mt-2">
              <button class="btn btn-dark me-3 mb-3"><a href="https://jaireens21.github.io/dad-joke-api/" target="_blank">Live Demo</a></button>
              <button class="btn btn-dark mb-3"><a href="https://github.com/jaireens21/dad-joke-api" target="_blank">Github Repo</a></button>
            </div>
            
          </div>
        </div>
        <div class="d-flex flex-column my-4 px-0" >
          <img class="tiny-project-image mx-auto my-2 w-75" src="../photos/todo.png" alt="todo app">
          <div class="d-flex flex-column justify-content-center text-center mx-auto w-100 px-0">
            <h3 class="fw-bold">To Do App</h3>
            <p>A React-based To-Do App. <br/>Add, edit, delete and check items off your list! <br/> Uses browser's localStorage to persist the item list.</p>
            <div class="mx-auto mt-2">
              <button class="btn btn-dark me-3 mb-3"><a href="https://jaireens21.github.io/react-todo-app/" target="_blank">Live Demo</a></button>
              <button class="btn btn-dark mb-3"><a href="https://github.com/jaireens21/react-todo-app" target="_blank">Github Repo</a></button>
            </div>
            
          </div>
        </div>
        


      </div>

      
      
    </div>
    
  </section>

  <section id="aboutSection" >

    <h2 class="text-center">ABOUT ME</h2>
    <div id="aboutDiv" class="d-flex flex-column flex-xl-row mt-5">
      
      <div id="aboutPhoto" class="d-flex flex-column align-items-center justify-content-center" >
        <img id="myPhoto2" src="./photos/myPhoto2.jpg">
        <div class="my-3">
          <a class="profilebutton" href="https://www.linkedin.com/in/jaireen-singh-02646b171/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
          <a class="profilebutton" href="https://github.com/jaireens21" target="_blank">
            <i class="fab fa-github"></i> 
          </a>
          <a class="profilebutton" href="https://www.freecodecamp.org/fcc1c7f670a-2c24-4d27-8fce-b6a6c9b9277a" target="_blank">
            <i class="fab fa-free-code-camp"></i> 
          </a>
          <a class="profilebutton"  href="https://codepen.io/jerrys21" target="_blank">
            <i class="fab fa-codepen"></i> 
          </a>
        </div>
      </div>

      <div id="aboutText" class="my-auto">
        <p>Hi there! My name is Jaireen Singh, and I am a full stack web developer from Toronto, Canada. I love coding, problem solving, and singing! If you'd like to know more about me and my journey, continue reading using the Read More button.</p>
        <div id="expandableDiv" class="expandable">
          <p>I have always loved coding, especially during my high school years where I made some cool C++ projects. </p>
  
          <p> Upon completing Engineering at University in India, I worked in the Power Industry for a few years, managing projects like coal-based power plants and setting up EV-charging stations. During this time, I was lucky to have an opportunity to work with the IT team. We revamped an old project-management application and added some new features while also implementing Role Based Access Control.</p>
  
          <p>After moving to Canada, I decided to further my passion for coding with web development. I love that it gives me an opportunity to put my ideas and creativity into action and showcase it to the world. It's amazing how every day brings a new challenge and a new learning!  I am currently honing my skills with personal projects and freelance work all the while expanding my knowledge of web design.</p>
  
          <p>Please feel free to get in touch if you would like to work together!</p>
        </div>
  
        <button id="readMoreBtn" class="btn btn-dark mb-5">Read More...</button>
   
      </div>

      <div id="aboutTechStack"  >
        <p class="fw-bold" style="font-size:1.5rem">My Tech Stack</p>
        <p class="mb-5">I'm proficient with the following relevant technologies: </p>
        <div id="aboutTechStackDiv" class="d-flex flex-wrap">
          <div class="techIcon d-flex flex-column align-items-center me-5  mb-3 text-center">
            <span class="fa-brands fa-html5"></span>
            <p>HTML5</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-css3-alt"></span>
            <p>CSS3</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-js"></span>
            <p>JavaScript</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-react"></span>
            <p>React JS</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-node"></span>
            <p>Node JS</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span><img class="fa-brands" src="./photos/mongoDb.png"></span>
            <p>MongoDB</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-github"></span>
            <p class="text-center">Git & <br/> GitHub</p>
          </div>
          <div class="techIcon d-flex flex-column align-items-center me-5 mb-3 text-center" >
            <span class="fa-brands fa-bootstrap"></span>
            <p class="text-center">Bootstrap5</p>
          </div>
        </div>
      </div>


    </div>
  
  </section>

  <section id="contactSection" class="mt-5">

    <div id="contactDiv" class="mx-auto my-auto">
      <h2 class="text-center mb-5">CONTACT</h2>
      <p class="text-center">If you like what you see and would like to talk about working together, or just fancy a chat! <br/> Please feel free to get in touch with me at :   <a href="mailto:jaireen.s21@gmail.com">jaireen.s21@gmail.com</a> <br/> Or simply fill in the form below:</p>
      
      <form id="contactForm" class="mt-5" action="/" method="POST" class="">
        <label class="form-label" for="name">Your Name*</label>
        <input  class="form-control mb-3" id="name" type="text" name="name" placeholder="Name" required>
        <label class="form-label" for="email">Your Email*</label>
        <input class="form-control mb-3"  id="email" type="email" name="email" placeholder="Email Address" required>
        <label class="form-label" for="name">Your Message</label>
        <textarea class="form-control mb-3"  id="message" rows="5" cols="10" name="message" placeholder="Message"></textarea>
        <p>* field is required</p>
        <button class="btn btn-dark" type="submit">Send Message</button>
      </form>

    </div>
  </section>
  
  <footer class="text-center py-2 my-0">
    <p class="p-0 m-0">Handcrafted by &copy;2022 <a href="#" target="_blank"> Jaireen Singh</p>
  </footer>
  
</main>
<script src="/javascripts/home2.js"></script>
</body>
</html>