<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link href="/stylesheets/home.css" rel="stylesheet">
    <title>Jaireen Singh</title>
</head>
<body>
    

<nav id="sentNavbar">
  <ul>
      <!-- add a navbar brand with name -->
    <li><a class="white navbutton" href="/">Home</a></li>
    
  </ul>  
</nav>

<main>
  
  <section id="contactSection">

  <!-- make this section 100vh & center everything -->
    <div id="Contact">
      <h2>Thank you for reaching out!</h2>
      <p>Your message has been received. I will get in touch with you shortly.</a> </p>
      
    </div>
  </section>
  
  <footer>
    <p>Handcrafted by &copy;2022 <a href="#" target="_blank"> Jaireen Singh</p>
  </footer>
  
</main>
<script src="/javascripts/home.js"></script>
</body>
</html>