
html{
  scroll-behavior:smooth;
  /* for smooth scrolling to nav links inside the page */
  box-sizing: border-box;
  font-size: 1.2rem;;
}

body{
  margin:0; 
  padding:0;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}

a{
  text-decoration:none; 
  color:inherit;
}
a:hover{
  color:#FD9E02; 

}

nav{
  background-color: black;
  text-align: center;
  font-size: 0.9rem;
  max-height: 9vh;
}

.navLink{
  color:white;
  padding:0.5rem;
  
}
.navLink:hover{
  color:#FD9E02;
 
}


section{
  width:80%;
  margin:0 auto;
  padding-top: 10vh; /* because nav is fixed to top */
}

/* #backtotop{
  position: fixed;
  bottom:3vh;
  right:2vw;
  border:2px solid black;
  padding:0.5rem;
  background-color: #FD9E02;
}
#backtotop:hover{
  color:white;
} */

#myAlert{
  position:fixed ;
  top:3rem;
  left:0;
  transform: translateX(calc(50vw - 50%)); 
  /* position middle of screen horizontally */
  z-index: 99;
  background-color:#E0F6E3;
  /* #F4D0D5 PINK FOR ERROR */
  opacity:0.8;
  border-radius: 10px;
  padding:1rem 2rem;
  text-align: center;
}
#myAlertBtn{
  position:absolute;
  top:10px;
  right:10px;
  background:none;
  box-shadow: none;
  border:none;
  font-size: large;
}

.hidden{
  display:none;
}


#welcomeSection{
  width:80%;
  text-align:center;
  height:100vh;
  margin:0; 
  padding:0;
  padding-top: 10vh;
  /* transform: scale(1.2); */
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content: center;
}
#welcomeDiv{
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 
}


#welcomePhoto{
  display: inline-block;
  width:70%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  
}
#welcomeDetails{
  width:100%;
  
}

.profilebutton{
  font-size: 2rem;
  margin-right: 1rem;
  
}

#projectSection{
  width:100%;
  background-color: black;
}
#projectSection>h2{
  color:#FD9E02;
  
}
#projectsDiv{
  width:90%;
}

.project{
  
  border-radius:25px;
  background-color: white;
  color:black;
}

.project-image{
  max-width: 100%;
  border:2px solid black;
    
}
.tiny-project-image{
  
  border:2px solid black;
  /* border-radius: 10px; */
  
}
.projectDetails{
  width:100%;
  margin:auto 0;
  padding:auto 0;
}

#aboutPhoto{
  max-width:100%;
}
#myPhoto2{
  max-width: 100%;
}
#aboutText{
 max-width:100%;
}

.expandable{
  opacity:0;
  max-height:0px;
  pointer-events: none; 
  /* so that we cannot click on the hiddden text & can easily click on the ReadMore button */
  transition: all 1s linear;
}
.expandable-open{
  opacity:1;
  height:auto;
  max-height:50rem;
  pointer-events:all;
  /* so we can click on blog link */
}

.techIcon{
  width:70px;
}

.fa-brands{
font-size: 3rem;
width:50px;
height:50px;
}
.fa-brands-sql{
font-size: 3rem;
width:80px;
height:50px;
}


#contactSection{
  width:100%;
  
  padding:2rem;
  padding-top: 10vh;
  background-color: black;
  color:white;
 
}
#contactDiv{
  width:80%;
}
#contactDiv>h2{
  color: #FD9E02;
}

footer{
  border-top:2px solid black;
  padding: 0.5rem 0;;
}

button:hover{
  color: #FD9E02;
}
.btn:hover{
  color: #FD9E02;
}

@media(min-width:768px){

  /* #welcomeSection{
    transform: scale(1);
  } */
  #welcomeDiv{
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  
  #welcomePhoto{
    display: inline-block;
    height:300px;
    max-height:300px;
    width:300px;
    max-width: 300px;
    border-radius: 50%;
    margin-bottom: 1.5rem;
    margin-right:3rem;
   
  }
  #welcomeDetails{
    width:50%;
  }
  #projectsDiv{
    width:75%;
  }
  .projectDetails{
    width:75%;
  }
  nav{
    font-size: 1.2rem;
  }
  .navLink{
    padding:1rem;
    
  }
}

@media (min-width:1200px){
  #welcomeSection{
    width:55%;
  }
  #projectsDiv{
    width:60%;
  }
  #aboutDiv{
    flex-wrap: wrap;
  }
  #aboutPhoto{
    width:50%;
    margin-right:2rem;
    /* align-items: flex-start; */
  }
  #aboutText{
   width:40%;
  }
  #aboutTechStack{
    text-align: center;
    margin:0 auto;
    width:100%;
  }
  #aboutTechStackDiv{
    justify-content: center;
  }
  #contactDiv{
    width:50%;
  }
  
}
